<!DOCTYPE html>
<html lang="en">
<head>
    <title>Harp site + blog</title>
    <link rel="stylesheet" href="/css/less-styles.css">
    <link rel="stylesheet" href="/css/sass-styles.css">
    <link rel="stylesheet" href="/css/stylus-styles.css">
    <link rel="stylesheet" href="/css/css-styles.css">
</head>
<body class="container">

<header>
    <h1><%= title %></h1>
    <h2></h2>
</header>

<main>
    <h3>EJS Templates</h3>
    <%- body %>
</main>

<footer>
    footer
</footer>

</body>
</html>