doctype
html
  head
    title #{ siteTitle }
    link(rel="stylesheet" href="/css/less-styles.css")
  body
    - if (image) {
    img(src="/img/#{image}")
    - }
    h1 #{ title }
    .container
      != body

      p
        a(href="/") &#8592;  Back to Blog